:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #fcfcfc;
}

/**
  |============================
  | Reset
  |============================
*/
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    line-height: 1.5;
    background-color: var(--white-background);
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid red;
}

/**
  |============================
  | Header styles
  |============================
*/

.header {
    border-bottom: 1px solid var(--accent);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo-color {
    color: var(--dark);
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px
;
}

.header-item {}

.header-link {
    font-weight: 500;
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-link:hover {
color: var(--pressed-state);
}
.header-link:focus {
color: var(--pressed-state);
}


.header-address {
    font-style: normal;
    letter-spacing: 0.02em;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
    color: var(--text);
}
.header-address-link:hover {
    color: var(--pressed-state);
}
.header-address-link:focus {
    color: var(--pressed-state);
}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    background-color: var(--dark);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--white-background);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    margin: auto;
    margin-bottom: 48px;

}

.hero-btn {
    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;


}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--pressed-state);
}

/**
  |============================
  | Benefits styles
  |============================
*/
.section {}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-title {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    display: none;
}

.benefits-list {
    display: flex;
    justify-content: space-between;

}

.benefits-list-item {
    width: 264px;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}
.benefits-text {
    letter-spacing: 0.02em;
    width: 264px;
}

/**
  |============================
  | What we do styles
  |============================
*/
.section {}

.what-we-do {}

.what-we-do-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.what-we-do-container {
padding-bottom: 120px;
}

.what-we-do-list {
    display: flex;
    justify-content: space-between;
}

.what-we-do-list-item {}

/**
  |============================
  | Our team styles
  |============================
*/
.section {}

.team {
    background-color: var(--light);
}

.our-team-container {
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    background-color: var(--white-background);
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {}

.section {}

.portfolio-title {}

.portfolio-list-btn {}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    color: var(--primary-brand);
    background-color: var(--light);
    border: 1px solid var(--accent);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.portfolio-btn:hover {
        background-color: var(--pressed-state);
        color: var(--white-background);
    }

.portfolio-btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    }

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
    }
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--dark);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: var(--primary-brand);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        padding-bottom: 16px;
        display: flex;
    }
    
    .logo-foot {
        color: var(--light);
    }
    
    .footer-container {
padding-top: 100px;
padding-bottom: 100px;
    }

.footer-text {
    color: var(--light);
    letter-spacing: 0.02em;
    width: 264px;
}